body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 3rem;
}

footer  {
    
}

.featurette-divider {
    margin: 5rem 0;
}

.primary-color {
    color: rgb(25, 49, 121);
}

.secundary-color {
    color: rgb(238, 37, 122);
}

.img-color {
    background-color: rgb(238, 37, 122);
}

.jumbotron {
    background-image: url("../img/banner.jpg");
    background-size: cover;
}

@media screen and (min-width: 600px) {
  .jumbotron {
      height: 600px;
  }
}

@media screen and (min-width: 6900px) {
  .jumbotron {
      height: 800px;
  }
}

@media screen and (max-width: 700px) {
  .show-button {
      display: none;
  }
}

.btn-secundary {
    background-color: rgb(238, 37, 122);
    color: white;
}